<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10">
            <ul class="nav nav-tabs">
                <li  ng-class="{active:vm.pager.category == '正在热映'}"><a href="#/in_theaters/1">正在热映</a></li>
                <li ng-class="{active:vm.pager.category == '即将上映'}"><a href="#/coming_soon/1">即将上映</a></li>
                <li ng-class="{active:vm.pager.category == 'top250'}"><a href="#/top250/1">top250</a></li>
            </ul>
        </div>
        <div class="col-xs-2">
            <span style="font-size: 35px;float: right;">电影列表</span>
        </div>
    </div>
    <div ng-if="vm.loading">
        正在加载中...
    </div>
    <div class="row" ng-if="!vm.loading">
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)"></a>电影列表</li>
            <li><a href="javascript:void(0)"></a>{{vm.pager.category}}</li>
            <li class="active">第{{vm.pager.curr}}页(共{{vm.pager.max}}页)</li>
        </ol>
    </div>
    <div ng-if="!vm.loading" class="row" style="margin-top: 10px;">
        <div class="col-xs-4" ng-repeat="subject in vm.data.subjects">
            <div class="thumbnail img-thumbnail">
                <img ng-src="{{subject.images.large}}"
                     style="height: 420px;overflow-y: hidden;"
                     alt="{{subject.title}}">
                <div class="caption" style="text-align:center;">
                    <a ng-href="#/detail/{{subject.id}}">{{subject.title}}</a>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!vm.loading" class="row">
        <div class="col-xs-12">
            <ul class="pagination pull-right">
                <li>
                    <a ng-href="{{vm.pager.prev}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;上一页</span>
                    </a>
                </li>
                <li>
                    <a ng-href="{{vm.pager.next}}" aria-label="Next">
                        <span aria-hidden="true">下一页&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>